body{
    font-size: 13px!important;
}

/* Header */

.active{
    font-weight: 600;
}

.bg-black{
    background: #000000;
}

.nav-link{
    text-transform: uppercase;
}

.badge-info{
    font-size: 10px;
    font-weight: normal;
}

.text-user-header {
    font-size: 14px;
    padding: 5px;
}

.bg-top {
    border-top: 4px solid #000000;
}

.bg-grey {
    background: #d3d3d32b;
}

.bg-menu {
    border-bottom: 4px solid #000000;
}

.header{
    margin-bottom: 10px;
}

/* End header */

.cursor-pointer{
    cursor: pointer;
}

.name-product{
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
}

.description-product{
    font-size: 12px;
}

.price{
    font-weight: 600;
    font-size: 13px;
}

.thumbnail{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 3px;
    margin-top:10px;
    margin-bottom:10px;
}

.thumbnail button{
    font-size: 12px;
}

/* Cart */

.ul-product{
    list-style: none;
}

/* Footer */
.footer{
    margin-top:20px;
}